
body{
	border:2px solid black;
}
.logo{
	cursor:-webkit-zoom-in;
	
}


.btn-default{
	color:white;
	padding:5px;
	 -webkit-app-region: no-drag;
}
.btn-default:hover{
	color:red;
	cursor: pointer;
}
.btn-grey{
	color:grey;
}
.btn-grey:hover{
	color:red;
	cursor: pointer;
}

.game-menu{
	
	width:30%;
	position: absolute;
	top:0px;
	
}
.game-component{
	padding: 3px;
	color:#507299;
}
.game-component:hover{
	color:#99B0C6;
	cursor: pointer;
}




#output{
	width:300px;
	height:220px;
	position: absolute;
	top:0px;
	left:26%;
	border-left:1px dotted grey;
}
.open-link-in-browser:hover{
	color:red;
}

.collapse{
	color:#eceff1;
	 -webkit-app-region: no-drag;
}
.collapse:hover{
	color: #90a4ae;
	cursor:pointer;
}
.close{
	color:#b71c1c;
	 -webkit-app-region: no-drag;
}

.close:hover{
	color: #f44336;
	cursor:pointer;
}