
/*

.btn-default{
	color:white;
	padding:5px;
	 -webkit-app-region: no-drag;
}*/
.btn-default:hover{
	color:red;
	cursor: pointer;
}
.btn-grey{
	color:grey;
}
.btn-grey:hover{
	color:red;
	cursor: pointer;
}

.game-menu{
	
	width:30%;
	position: absolute;
	top:23px;

}
.game-component{
	padding: 3px;
	/*color:#507299;*/
	color:#444;
	
}
.game-component:hover{
	color:#99B0C6;
	cursor: pointer;
}




#output{
	width:640px;
	height:480px;
	position: absolute;
    top:26px;
    right:2px;
	border:1px dotted grey;
}


 webview {
    display:inline-flex;
    width:640px;
    height:480px;
    position:absolute;
    top:26px;
    right:2px;
 }
webview.hide {
    flex: 0 1;
    width: 0px;
    height: 0px;
  }

.pathname{
	widht:600px;
	height:15px;
	position:absolute;
	top:510px;
	left: 145px;
	color:grey;

}

.currentObject{
	width: 600px;
	color:grey;
	position:absolute;
	top:483px;
	left: 145px;

}

.main__menu{

	margin-top: 0px;
	margin-left: 0px;
	margin-right: 0px;
	background-color: #999;
	
	
}
.main__menu--item{
	padding:5px;
	font-size:14pt;
	display: inline-block;
	
}
.main__menu--item:hover{
	color:#666;
	cursor:pointer;
}
.mainmenu--floatright{
	float: right;

}
#change__lang{
	position: absolute;
	top:510px;
	left:300px;
}
/*.btn-group{
	background-color: white;
	border:1px dotted red;
	width:180px;
	z-index:9999;
}*/
.menu__item{
	color:#333;
	margin:5px;
	border-bottom:1px solid grey;
}
.menu__item:hover{
	color:#777;
}