

.main-menu{
	width:100%;
	height:10%;
	position: relative;
	top:0px;
	left:0px;
	background-color: rgba(0,0,0,1);
	
}
.main-menu-left-buttons-group{
	float:right;
}
.btn-default{
	color:#ffffff;
	padding:5px;
}
.btn-default:hover{
	color:red;
	cursor: pointer;
}
.btn-grey{
	color:grey;
}
.btn-grey:hover{
	color:red;
	cursor: pointer;
}
.settings{
	position: relative;
	top:20%;
	left:0%;
}

.game-menu{
	
	width:30%;
	position: absolute;
	top:10%;
	
}
.game-component{
	padding: 3px;
}
.game-component:hover{
	color:blue;
	cursor: pointer;
}



.current-project-menu{
	top:10%;
	width:100%;
	position: relative;
	height: 10%;
}

.current-project-name{
	color:cyan;
}
.current-project-name:hover{
	color:red;
}


#output{
	width:600px;
	height:400px;
	position: absolute;
	top:5%;
	left:16%;
	border:1px dotted grey;
}

#wv{
	width:100%;
	height:100%;
	display:block;
}

.status-bar{
	width:83%;
	
	border:1px dotted grey;
	position: absolute;
	left:16%;

	bottom:1px;
}